<!DOCTYPE html>
<html>

<body>
    <!-- customersModal -->
    <div class="modal fade" id="customersModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select customers name from list...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <table class="table" id="customersTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Customer Name</th>
                                <th>Nick Name</th>
                                <th>City-Pin</th>
                                <th>Market Area</th>
                                <th>Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each customer_list}}
                            <tr>
                                <td>{{this.customer_id}}</td>
                                <td>{{this.customer_name}}</td>
                                <td>{{this.nick_name}}</td>
                                <td>{{this.city_pin}}</td>
                                <td>{{this.market_area}}</td>
                                <td>{{this.customer_type}}</td>
                                <td style="text-align: center;">
                                    <button type="button" class="btn btn-info btn-sm"
                                        onclick="handleSelectButtoncustomers(this)">
                                        <i class="bi bi-check2-square"></i>&nbsp;Select
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div> --}}
            </div>
        </div>
    </div>

    <style>
        #customersModal .modal-dialog {
            max-width: 1400px;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#customersTable').DataTable({
                pageLength: 10
            });
        });
    </script>

    <script>
        function handleSelectButtoncustomers(button) {
            // Get the table row that contains the button
            const row = button.closest('tr');

            // Get the values of the columns in the row
            const customer_id = row.querySelector('td:nth-child(1)').textContent;
            const customer_name = row.querySelector('td:nth-child(2)').textContent;

            // Set the values of the form fields with the row values
            /*document.getElementById('customersForm').querySelector('#customers').value = customers;
            document.getElementById('customersForm').querySelector('#pin_code').value = pin_code;*/
            document.getElementById('customer_id').value = customer_id;
            document.getElementById('customer_name').value = customer_name;

            // Hide the modal
            const modal = document.getElementById('customersModal');
            const modalInstance = bootstrap.Modal.getInstance(modal);
            modalInstance.hide();
        }
    </script>


</body>

</html>