<div class="container">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h4 style=" margin-bottom: 20px;">List of Purchase orders</h4>
        <a href="/po/create" class="btn btn-success">Create New</a>
    </div>

    <table class="table" id="poTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Order No</th>
                <th>Customer Name</th>
                <th>Exp Date</th>
                <th>Business Unit</th>
                <th>Post</th>
                <th>Sync Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each po}}
            <tr>
                <td>{{momentDMY this.po_date}}</td>
                <td>{{this.po_no_new}}</td>
                <td>{{this.customer_name}}</td>
                <td>{{momentDMY this.exp_date}}</td>
                <td>{{this.bu_name}}</td>
                <td>{{this.posted}}</td>
                <td>{{#if this.ftp_date}}{{momentDMYHm this.ftp_date}}{{else}}Syncing....{{/if}}</td>
                <td>
                    <!-- <a href="/customer/viewByID/{{this.customer_id}}" class="btn btn-secondary btn-sm">
                        <i class="bi bi-eye"></i>
                    </a> -->
                    {{#if this.ftp_date}}
                    <a href="#" class="btn btn-secondary btn-sm" style="pointer-events:none;">
                        <i class="bi bi-pencil"></i>
                    </a>
                    {{else}}
                    <a href="/po/update/{{momentYMD this.po_date}}/{{this.po_no}}" class="btn btn-primary btn-sm"
                        onclick="return confirm('This will modify your previously saved data. Are you sure?')">
                        <i class="bi bi-pencil"></i>
                    </a>
                    {{/if}}

                    {{#isEqual ../user.user_role "Admin"}}
                    <a href="/po/delete/{{momentYMD this.po_date}}/{{this.po_no}}" class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure?')">
                        <i class="bi bi-trash"></i>
                    </a>
                    {{/isEqual}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#poTable').dataTable({
                pageLength: 10
            });
        });
    </script>

</div>